# Ignore
heimdall/
openvpn-configs/

transcode/
library/
db/
etc/
var/
data/
media/
config/
conf/
work/
store/
datastore/
storage/
backups/
logs/
log/
static/
temp/
vsixs/
*provisioning
dav/
*.txt
*.subdomain.conf
.env
appsettings.Production.json
rtlamr2mqtt.yaml
output.json

hass/

.vs/
