# Ignore
heimdall/
openvpn-configs/

db/
etc/
var/
data/
media/
config/
conf/
work/
store/
datastore/
storage/
backups/
logs/
log/
static/
temp/
vsixs/
*provisioning
dav/
*.txt
.env
appsettings.Production.json

hass/

.vs/
